apiVersion: v1
baseDomain: {{ base_domain }}
{% if openshift_http_proxy is defined %}
proxy:
  httpProxy: {{ openshift_http_proxy }}
  httpsProxy: {{ openshift_https_proxy }}
  noProxy: {{ openshift_no_proxy }}
{% endif %}
compute:
- hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ openshift_cluster_network | default('10.128.0.0/14') }}
    hostPrefix: 23
  machineCIDR: {{ subnet_range }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ openshift_service_network | default ('172.30.0.0/16') }}
platform:
  openstack:
    cloud: {{ openstack_cloud_name }}
    computeFlavor: {{ nodes_flavor }}
    externalDNS: null
    externalNetwork: {{ external_network }}
    lbFloatingIP: {{ openshift_api_fip | default(openshift_api_vip) }}
    octaviaSupport: "0"
    region: ""
    trunkSupport: "0"
publish: External
pullSecret: '{{ openshift_pull_secret }}'
sshKey: |
  {{ openshift_ssh_key }}
